# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melospaces/
.pub-cache/
.sconsign.dblite
build/
coverage/
**/DerivedData/

# VSCode/IDE
.idea/
.vscode/
*.iml

# iOS
Pods/
Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/

# Android
**/local.properties
**/key.properties

# Logs
*.log

# Firebase/Secrets
**/firebase_app_id_file.json
**/GoogleService-Info.plist
**/google-services.json

# Generated
*.lockfile

