<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Start of Deep Link -->
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:loya.live</string>
    </array>
    <!-- End of Deep Link -->
    <!-- Wallet passes -->
    <key>com.apple.developer.pass-type-identifiers</key>
    <array>
      <string>pass.com.mycompany.loya</string>
    </array>
    <!-- Push notifications for pass updates and messaging -->
    <key>aps-environment</key>
    <string>production</string>
  </dict>
</plist>
